@{ 
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <p>Login view</p>
</body>
</html>
